{% extends 'base.html.twig' %}

{% block title %}Nouvel événement{% endblock %}

{% block content %}
    <h1 class="text-white text-center my-5">Ajout d'évènement</h1>

    {{ include('event/_form.html.twig') }}
{% endblock %}
