{% extends 'base.html.twig' %}

{% block title %}Edit MyEntity{% endblock %}

{% block body %}
    <h1>Edit MyEntity</h1>

    {{ include('my_entity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('my_entity_index') }}">back to list</a>

    {{ include('my_entity/_delete_form.html.twig') }}
{% endblock %}
