@font-face {
	font-family: Avenir-Light;
	src: url(Avenir-Light-07.ttf);
}
@font-face {
    font-family: Avenir-Medium;
    src: url(Avenir-Medium-09.ttf);
}
@font-face {
	font-family: Avenir-Heavy;
	src: url(Avenir-Heavy-05.ttf);
}
@font-face {
    font-family: Avenir-Black;
    src: url(Avenir-Black-03.ttf);
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib,
a.mapboxgl-ctrl-logo
{
	display:none;
}

body {
    margin:0;
    padding:0;
    font-family: Avenir-Light, sans-serif;
}

a {
	text-decoration:none;
}
#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}
#date_label{
	color: #fff;
	font-family: Avenir-Black, sans-serif;
	text-shadow: 0 5px 7px #000;
	font-size: 30pt;
	position: fixed;
	bottom: 84pt;
	display:none;
	width:300px;
}

body > div:nth-child(2):active #date_label{
	display:block;
}
body > div:nth-child(2) {
    width: 100%;
    bottom: 45pt;
    left: 0;
    right: 0;
    text-align:center;
}

#date_event {
    width: 95%;
    height: 2px;
	background: #bcbcbc;
    box-shadow: 0 1px 3px #0004;
    outline: none;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0 5px 15px #0009;
    border:none;
    height: 50px;
    width: 50px;
    background: linear-gradient(80deg, #8E00BF,#d846ca);
    border-radius: 360px;
    cursor: pointer;
}
input[type=range] {
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-shadow: 0 4px 15px #0005;
    border:none;
    height: 50px;
    width: 50px;
    background: linear-gradient(-30deg, #8E00BF,#d846ca);
    border-radius: 360px;
    cursor: pointer;
}
#card_container{
    position:fixed;
    top:70px;
    right:0;
	max-height:100%;
    overflow:auto;
}

nav {
	font-family: Avenir-Medium, sans-serif;
	font-size: 15px;
}

.card{
	font-family: Avenir-Medium,sans-serif;
    font-size: 13pt;
    background: #f5f5f5;
    color: #2b2c2c;
    box-shadow: 0 5pt 10pt #0005;
    padding: 20px;
    margin: 30px 20px;
    border-radius: 17pt;
    width: 300pt;
}
.card h1{
    font-family: Avenir-Medium,sans-serif;
    font-size: 20pt;
}
details{
	font-family: Avenir-Light,sans-serif;
	color: #666;
    font-size: 13pt;
	margin-bottom:13pt;
}
details summary {
	outline:none;
	text-align: center;
	background: #fff;
	font-family: Avenir-Medium;
	cursor:pointer;
}
details p{
	max-height: 200pt;
    overflow: auto;
}
#close_button {
    position: sticky;
    font-size: 17pt;
    color: #000;
    background: #fff;
    padding: 11px 10px;
    border-radius: 360px;
    box-shadow: 0 3px 14pt #0003;
    z-index: 1;
    cursor: pointer;
    width: 23px;
    height: 21px;
    text-align: center;
    transition-duration: 0.2s;
    display: block;
    left: 220px;
    top: 18px;
}
#close_button:hover {
	color: #4b4b49;
	background: #cdc9c4;
}

#share_button {
    position: relative;
    font-size: 18pt;
    color: #fff;
    background: #8E00BF;
    padding: 10px 10px;
    border-radius: 360px;
    box-shadow: 0 3px 6pt #0003;
    z-index: 1;
    cursor: pointer;
    width: 24px;
    height: 24px;
    text-align: center;
    display: inline-block;
    float: right;
    margin: -40px 0;
    transition-duration: 0.2s;
}
#share_button:hover {
	color:#000;
	background:#fff;
}

#like_button {
    position: relative;
    font-size: 18pt;
    color: #cdc9c4;
    background: #fff;
    padding: 10px 10px;
    border-radius: 360px;
    box-shadow: 0 3px 6pt #0003;
    z-index: 1;
    cursor: pointer;
    width: 24px;
    height: 24px;
    text-align: center;
    display: inline-block;
    margin: -40px 0;
    float: left;
    transition-duration: 0.2s;
}
#like_button:hover {
	background:#e71a52;
	color:#fff;
}

/* Menu des filtres */
#filter_button {
	position:fixed;
	bottom:0;
	right:0;
	background:#fff;
	border-radius:360px;
	margin:60pt;
	padding: 19px;
    font-size: 19px;
	box-shadow: 0 4px 10px #0005;
	cursor: pointer;
}
#filter_confirm_button {
	position:fixed;
	bottom:0;
	right:0;
	background:#fff;
	color: #000;
	border-radius:360px;
	margin:50pt;
	padding: 19px;
    font-size: 19px;
    width: 19px;
    height: 19px;
	box-shadow: 0 4px 10px #0005;
	cursor: pointer;
}
#filter_container {
	display:none;
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000c;
    color: #fff;
	text-align: center;
}
#filter_container h1 {
	margin: 50px 0;
	font-weight: 100;
}
#filter_container form {
	border-top: 1px solid #bbb;
	padding-top: 50px;
	text-align: left;
	margin:auto;
	max-width:300pt;
    font-size: 13pt;
	line-height: 2px;
}
#filter_container form label {
	display: block;
	padding: 30px 0;
	transition-duration: 0.2s;
}
#filter_container form label:hover {
	/* outline:2px solid #8E00BF; */
}

/* Hide the browser's default checkbox */
#filter_container form label input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
	display: none;
}
/* Create a custom checkbox */
.checkmark {
	height: 25px;
	width: 25px;
	background-color: #111;
	float:right;
	display: inline-block;
	margin: -13px 0;
}
/* On mouse-over, add a grey background color */
#filter_container form label:hover input ~ .checkmark {
	outline:2px solid #8E00BF;
}
/* When the checkbox is checked, add a blue background */
#filter_container form label input:checked ~ .checkmark {
	background-color: #000;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
#filter_container form label input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
#filter_container form label .checkmark:after {
	left: 7px;
	top: 1px;
	width: 8px;
	height: 15px;
	border: solid #8E00BF;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: relative;
}

/* blocs meteo */
.weather {
	font-family: Avenir-Medium,sans-serif;
	letter-spacing:2px;
    font-size: 13pt;
	position: fixed;
    background: #f5f5f5;
    color: #2b2c2c;
	padding:10px;
	border-radius:10px;
	left: 15px;
	box-shadow: 0 0 10px #0003;
	text-align:center;
}
.weather:before {
	font-family: Avenir-Light,sans-serif;
	letter-spacing:initial;
	background:#fff;
	padding:5px;
	margin:0 10px 0 0;
	border-radius:10px;
}
#meteo {
	top: 95px;
}
#meteo:before {
	content: "Temps";
}
#temp {
	top: 155px;
}
#temp:before {
	content: "Température";
}
#hum {
	top: 215px;
}
#hum:before {
	content: "Humidité";
}

.evenup-nav img {
	height: 60px;
	margin: 0;
	padding: 8px 16px;
}

.evenup-nav ul {
	font-family: Avenir-medium, sans-serif;
	font-size: 16px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #bcbcbc;
	background-color: #2d2d2d;
}

.evenup-nav .active, .btn:hover {
	background-color: #d846ca;
	color:#f0f0f0;
	padding: 7px 30px;
  }

.evenup-nav a {
	color: inherit;
}

.evenup-nav li {
	display:  inline-block;
	color: #d846ca;
	padding: 8px 16px;
	margin-top: 25px;
	box-sizing: border-box;
	float: right;
	text-decoration: none;
}

.evenup-nav li:hover {
	background-color: #d846ca;
	color: #cdc9c4;
	cursor: pointer;
}

@media only screen and (max-width:900px) {
	.card {
		display:inline-block;
		white-space: normal;
        width: 50vw;
        max-width:300pt;
		margin: 26px 8px 20px 8px;
        padding:15px;
        word-break: break-word;
		background:#f0f0f0;
	}
	
	#card_container{
		white-space: nowrap;
		left: 0;
		right: 0;
		bottom:0;
		top: initial;
        overflow-y: visible;
	}
	#close_button{
		position:fixed;
		box-shadow: 0 -3px 20pt #0006;
		left: 45%;
		bottom: 17px;
		top:unset;
	}
}