@font-face {
    font-family: Avenir;
    src: url(avenir-light.ttf);
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib,
a.mapboxgl-ctrl-logo
{
	display:none;
}

body {
    margin:0;
    padding:0;
    font-family: Avenir, sans-serif;
}
#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}
#date_label{
    color: #fff;
    font-family: open sans, sans-serif;
    text-shadow: 0 3px 5px #000;
    font-size: 18pt;
    font-weight: 900;
    position: relative;
    top: -53pt;
    left: -45pt;
}
body > div:nth-child(2) {
    width: 100%;
    bottom: 45pt;
    left: 0;
    right: 0;
    text-align:center;
}
#date_event {
    width: 95%;
    height: 2px;
    background: #bbb;
	box-shadow: 0 0 4pt #000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0 5px 15px #0009;
    border:none;
    height: 50px;
    width: 50px;
    background: linear-gradient(80deg, #8E00BF,#d846ca);
    border-radius: 360px;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-shadow: 0 5px 15px #0009;
    border:none;
    height: 50px;
    width: 50px;
    background: linear-gradient(90deg, #a000b6,#d846ca);
    border-radius: 360px;
    cursor: pointer;
}
input[type=range]::-ms-thumb {
    box-shadow: 0 5px 15px #0009;
    border:none;
    height: 50px;
    width: 50px;
    background: linear-gradient(90deg, #a000b6,#d846ca);
    border-radius: 360px;
    cursor: pointer;
}

#card_container{
    position:fixed;
    top:0;
	max-height:100%;
    overflow:auto;
}
.card{
    background: #fff;
    color: #2b2c2c;
    box-shadow: 0 5pt 10pt #0005;
    padding: 20px;
    margin: 30px 20px;
    font-size: 15pt;
    font-weight: 100;
    border-radius: 17pt;
    width: 300pt;
}
.card h1{
    font-family: Avenir Bold,sans-serif;
    font-size: 20pt;
	margin: -30px 0 0 0;
}

#close_button {
    position: relative;
    font-size: 16pt;
    color: #cdc9c4;
    background: #4b4b49;
    padding: 11px 10px;
    border-radius: 360px;
    font-weight: 600;
    font-family: Font Awesome 5 Free;
    height: 30pt;
    box-shadow: 0 3px 6pt #0003;
    z-index: 1;
    cursor: pointer;
    left: 220px;
    width: 24px;
    height: 23px;
    text-align: center;
    top: 3px;
	transition-duration:0.2s;
}
#close_button:hover {
	color: #4b4b49;
	background: #cdc9c4;
}

#share_button {
    position: relative;
    font-size: 18pt;
    color: #fff;
    background: #8E00BF;
    padding: 10px 10px;
    border-radius: 360px;
    font-weight: 600;
    font-family: Font Awesome 5 Free;
    height: 30pt;
    box-shadow: 0 3px 6pt #0003;
    z-index: 1;
    cursor: pointer;
    left: 305px;
    width: 24px;
    height: 24px;
    text-align: center;
    top: -40px;
	transition-duration:0.2s;
}
#share_button:hover {
	color:#000;
	background:#fff;
}

#like_button {
    position: relative;
    font-size: 18pt;
    color: #cdc9c4;
    background: #fff;
    padding: 10px 10px;
    border-radius: 360px;
    font-weight: 600;
    font-family: Font Awesome 5 Free;
    height: 30pt;
    box-shadow: 0 3px 6pt #0003;
    z-index: 1;
    cursor: pointer;
    right: -7px;
    width: 24px;
    height: 24px;
    text-align: center;
    top: -40px;
	transition-duration:0.2s;
}
#like_button:hover {
	background:#e71a52;
	color:#fff;
}

@media only screen and (max-width:700px) {
	.card {
		display:inline-block;
		white-space: normal;
	}
	
	#card_container{
		white-space: nowrap;
		left: 0;
		right: 0;
		bottom:0;
		top: initial;
	}
}