<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Evenup</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet'>
    <link href='style.css' rel='stylesheet'>
</head>
<body>
<div id='map'></div>
<div style="position:fixed">
    <input type="range" id="date_event" min="0" max="7">
    <label id="date_label"></label>
</div>
<div id="meteo" style="padding:10px;color:#fff;background:#000;font-family:open sans,sans-serif;position:fixed;right:15px;top:15px">
</div>
<div id="temp" style="padding:10px;color:#fff;background:#000;font-family:open sans,sans-serif;font-size:20pt;position:fixed;right:15px;top:50px">
</div>
<div id="hum" style="padding:10px;color:#fff;background:#000;font-family:open sans,sans-serif;font-size:18pt;position:fixed;right:15px;top:100px">
</div>
<div id="card_container">
</div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiY2xlbXotc3BhZ2hldHRpIiwiYSI6ImNqcGpobjQ2ZDA1dHMza2xucDhudGZhNWsifQ.PobnKYF8IBNfZLH2a120Jg';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/clemz-spaghetti/cjqnuhhxz6b9h2smwrg0wmz1j',
    center: [1, 47],
    zoom: 5
});

document.getElementById('date_event').addEventListener('mouseup', function(e) {
    let offset = e.target.value;
    let MaDate = moment().add(parseInt(offset), 'days').format('YYYY-MM-DD');

    document.getElementById('date_label').innerHTML = MaDate;

    map.addSource('earthquakes', {
        "type": "geojson",
        "data": '../output/' + MaDate + '.json'
    });
    map.addLayer({
        "id": "earthquakes-heat",
        "type": "heatmap",
        "source": "earthquakes",
        "paint": {
            "heatmap-weight": 1,
            "heatmap-intensity": 1,
            "heatmap-opacity": 1,
            "heatmap-radius": 50,
            "heatmap-color":
                [
                    "interpolate",
                    ["linear"],
                    ["heatmap-density"],
                    0, "hsla(240, 0%, 100%, 0)",
                    0.17, "hsla(238, 38%, 13%, 0.81)",
                    0.39, "hsla(285, 100%, 37%, 0.85)",
                    0.86, "hsla(317, 100%, 83%, 0.59)"
                ]
        }
    });
	map.addLayer({ // les cercles qui servent de hit-box
		"id": "earthquakes-point",
		"type": "circle",
		"source": "earthquakes",
		"paint": {
			"circle-radius": 35,
			"circle-stroke-color": "white",
			"circle-stroke-width": 0,
			"circle-opacity": 0
		}
	});

	map.on('click', 'earthquakes-point', function (e) { // TODO filter les meteos qui ne sont pas a 17 heure le jour de MaDate
		if(clicked === false) {
			clicked = true; // evite le spam pendant qu'on fait des requetes
			document.getElementById('card_container').innerHTML = '';

			let offset = document.getElementById('date_event').value;
			let jour = (parseInt((new Date()).getDate()) + parseInt(offset)).toString();
			
			let MaDateZero =	(new Date()).getFullYear() + '-' +
								("0" + ((new Date()).getMonth() + 1)).slice(-2) + '-' +
								("0" + jour).slice(-2);
			
			const longitude = e.features[0].geometry.coordinates[0];
			const lattitude = e.features[0].geometry.coordinates[1];
		
			//	recup la meteo
			fetch('http://api.openweathermap.org/data/2.5/forecast?lat='+lattitude+'&lon='+longitude+'&appid=7e39eceace89a2eabd5786d8248a25bd&units=metric')
				.then((res) => {
					return res.json();
				})
				.then((data) => {
					data.list.forEach(function(list_item) {
						if(list_item.dt_txt === MaDateZero+' 18:00:00') {
							document.getElementById('meteo').innerHTML = list_item.weather[0].main;
							document.getElementById('temp').innerHTML = list_item.main.temp+'';
							document.getElementById('hum').innerHTML = list_item.main.humidity+'%';
						}
					});
				});
				
			// recup les infos de l'event
			e.features.forEach(function(event_item) {
				fetch('api/events/'+event_item.properties.id)
					.then((res) => {
						return res.json();
					})
					.then((data) => {
						console.log(data.label);
						document.getElementById('card_container').insertAdjacentHTML('beforeend', '<div class="card"><div class="fas fa-heart" id="like_button"></div><div class="fas fa-paper-plane" id="share_button"></i></div><h1>'+data.title+'</h1>'+data.date+''+data.formatted_address+'</div>');
					});
			});
		}
	});
	
	map.on('mouseup', 'earthquakes-point', function () {
		clicked = false;
	});
});

document.getElementById('date_event').addEventListener('mousedown', function() {
    map.removeLayer('earthquakes-heat');
    map.removeLayer('earthquakes-point');
    map.removeSource('earthquakes');
});
</script>
</body>
</html>